.button-primary {
    background: #F4F4F7;
    color: #0A0F21;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 3em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    cursor: pointer;
}

.button-primary .icon {
    background: #192552;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 3em;
    right: 0.3em;
    transition: all 0.3s;
}

.button-primary:hover .icon {
    width: calc(100% - 0.6em);
}

.button-primary .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #F4F4F7;
}

.button-primary:hover .icon svg {
    transform: translateX(0.1em);
}

.button-primary:active .icon {
    transform: scale(0.95);
}