.button-primary {
    background: #F4F4F7;
    color: #0A0F21;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 3em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    cursor: pointer;
    z-index: 1;
    position: relative;
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
    overflow: hidden;
}

.button-primary:hover {
    color: var(--spaceCadet-100);
}

.button-primary::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: var(--spaceCadet-600);

    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms
}

.button-primary:hover::before {
    width: 100%;
}

.button-primary .icon {
    background: #192552;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 3em;
    right: 0.3em;
    transition: all 0.3s;
}

.button-primary .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #F4F4F7;
}

.button-primary:hover .icon svg {
    color: var(--spaceCadet-600);
    transform: translateX(0.1em);
}

.button-primary:hover .icon {
    background-color: var(--spaceCadet-100);
}