@media screen and (max-width:1200px) {
    header {
        padding: 2rem 2rem;
    }
}

@media screen and (max-width:1000px) {
    .nav-list {
        flex: unset;
    }

    .mobile-nav-toggler {
        display: block;
        z-index: 99999;
    }

    .mobile-nav-toggler[area-expanded="true"] {
        position: fixed;
        right: 3rem;
    }

    .mobile-nav-toggler[area-expanded="true"] .line1 {
        transform: translate(0, 0.5rem) rotate(45deg);
    }

    .mobile-nav-toggler[area-expanded="true"] .line2 {
        transform: rotatez(180deg);
        opacity: 0;
    }

    .mobile-nav-toggler[area-expanded="true"] .line3 {
        transform: translate(0, -0.5rem) rotate(-45deg);
    }

    header {
        padding: 1rem 3rem;
    }

    .header-wrapper {
        position: relative;
    }

    .header-wrapper nav {
        position: fixed;
        height: 100vh;
        flex-direction: column;
        justify-content: flex-start;
        gap: 5rem;
        top: 0;
        right: 0;
        width: 75%;
        background: hsla(0, 0%, 100%, 0.4);
        backdrop-filter: blur(2rem);
        z-index: 9999;
        padding: max(5rem, 15%) 1rem;
        transform: translate(100%);
        transition: transform 500ms;
    }

    .header-wrapper nav .nav-list ul li a {
        font-size: 1.5rem;
    }

    .nav-list ul {
        flex-direction: column;
    }

    .nav-buttons {
        display: flex;
        gap: 1.5rem;
        flex-direction: column;
    }

    .header-wrapper nav .nav-buttons button {
        font-size: 1.3rem;
    }

    .header-wrapper nav .nav-buttons .nav-button-login {
        background-color: transparent;
        color: var(--colorPrimary);
    }

    .header-wrapper nav[data-visible='true'] {
        transform: translate(0%);
    }
}

@media screen and (max-width:400px) {

    .mobile-nav-toggler[area-expanded="true"] {
        right: 2rem;
    }

    header {
        padding: 1rem 2rem;
    }
}

@media screen and (max-width:360px) {
    .mobile-nav-toggler[area-expanded="true"] {
        right: 1rem;
    }

    header {
        padding: 1rem 1rem;
    }
}