@media screen and (max-width:1000px) {
    .nav-list {
        flex: unset;
    }

    .mobile-nav-toggler {
        display: block;
        z-index: 99999;
    }

    .mobile-nav-toggler[area-expanded="true"] {
        position: fixed;
        right: 5rem;
    }

    .mobile-nav-toggler[area-expanded="true"] .line1 {
        transform: translate(0, 0.5rem) rotate(45deg);
    }

    .mobile-nav-toggler[area-expanded="true"] .line2 {
        transform: rotatez(180deg);
        opacity: 0;
    }

    .mobile-nav-toggler[area-expanded="true"] .line3 {
        transform: translate(0, -0.5rem) rotate(-45deg);
    }

    header {
        padding: 1rem 3rem;
    }

    .header-wrapper {
        position: relative;
    }

    .header-wrapper nav {
        position: fixed;
        height: 100vh;
        flex-direction: column;
        justify-content: flex-start;
        gap: 5rem;
        top: 0;
        right: 0;
        width: 75%;
        background: hsla(0, 0%, 50%, 1);
        z-index: 9999;
        padding: max(5rem, 15%) 1rem;
        transform: translate(100%);
        transition: transform 500ms;
    }

    .header-wrapper nav .nav-list ul li a {
        font-size: 1.5rem;
    }

    .nav-list ul {
        flex-direction: column;
    }

    .nav-buttons {
        display: flex;
        gap: 1.5rem;
        flex-direction: column;
    }

    .header-wrapper nav .nav-buttons button {
        font-size: 1.3rem;
    }

    .header-wrapper nav .nav-buttons .nav-button-login {
        background-color: transparent;
        color: var(--colorPrimary);
    }

    .header-wrapper nav[data-visible='true'] {
        transform: translate(0%);
    }

    /*--------------------------------  MEDIA Query------------------------------------------ */
    .services__cards {
        flex-wrap: wrap;
        justify-content: center;
    }

    .about {
        min-height: 70vh;
    }

    .testimonial .card {
        min-height: 350px !important;
    }

    .testimonial .card__details {
        gap: 0rem !important;
    }


}

/*------------------------------ Max-width :400px----------------------------------------- */
@media screen and (max-width:768px) {

    .mobile-nav-toggler[area-expanded="true"] {
        right: 2rem;
    }

    header {
        padding: 1rem 2rem;
    }

    .hero1 .title {
        font-size: 2rem;
        width: 70%;
    }

    .button-primary {
        font-size: 10px !important;
    }

    .hero2 .title {
        width: 50%;
        font-size: 0.75rem;
    }

    .hero2 .hero2-btn {
        font-size: 0.75rem !important;
    }

    .portfolio__main {
        grid-template-columns: 1fr;
    }

    .portfolio__title h3 {
        width: 100%;
    }

    .portfolio__desc p {
        width: 100%;
        padding: 1rem 0rem;
    }

    .services__title {
        font-size: 1.5rem;
    }

    .services__main button {
        padding: 0rem 1rem;
    }

    .about {
        padding: 2rem;
    }

    .about__main {
        width: 20rem;
        margin-left: 0;
        padding: 2rem 1rem;
    }

    .about__main div {
        font-size: 2rem;
    }

    .contents__title {
        padding: 2rem 1rem 2rem 1rem;
        font-size: 2rem;
    }

    .contents__cards {
        flex-wrap: wrap;
    }

    .testimonial .testimonial__title h3 {
        font-size: 2rem;
    }

    .testimonial .testimonial__title {
        padding: 2rem 2rem;
    }
}

/*------------------------------ Max-width :360px----------------------------------------- */
@media screen and (max-width:360px) {
    .mobile-nav-toggler[area-expanded="true"] {
        right: 1rem;
    }

    header {
        padding: 1rem 1rem;
    }

}


@media (max-width: 767px) {
    footer {
        padding: 10px;
    }

    .footer-nav {
        display: flex;
        gap: 1rem;
        padding: 0.5rem;
    }

    .footer-left {
        padding: 1rem;
        gap: 1rem;
    }
}

/* Media query for screens between 768px and 1023px */
@media (min-width: 768px) and (max-width: 1023px) {
    footer {
        padding: 15px;
    }
}

/* Media query for screens larger than 1023px */
@media (min-width: 1024px) {
    footer {
        padding: 20px;
    }
}