    :root {
        --spaceCadet-1000: #050710;
        --spaceCadet-600: #192552;
        --spaceCadet-500: rgba(71, 81, 117, 1);
        --spaceCadet-100: #F4F4F7;
        --spaceCadet-900: #0A0F21;
        --spaceCadet-800: #0F1631;
        --spaceCadet-200: #D1D3DC;
        --spaceCadet-300: #A3A8BA;
        --avocadoPeel-100: #EBEBEB;
        --avocadoPeel-200: #D7D7D8;
        --avocadoPeel-500: #615F62;
        --avocadoPeel-800: #222123;
        --avocadoPeel-1000: #0B0B0C;
        --greenPigment-600: #00A651;
    }

    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    body {
        font-family: 'Inter', sans-serif !important;
    }

    /*----------------------------------------- Header Start -----------------------------------------*/
    header {
        width: 100%;
        top: 0;
        padding: 1rem;
        z-index: 9999;
    }

    header.sticky {
        position: fixed;
        backdrop-filter: blur(2px);
        top: 0;
        background-color: rgba(10, 15, 33, 0.5);
    }

    .header-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header-wrapper .logo {
        display: flex;
        align-items: center;
    }

    .header-wrapper .logo .logo-img {
        align-self: flex-end;
    }

    .header-wrapper .logo .logo-name {
        font-size: 1.5rem;
    }

    .header-wrapper nav {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        gap: 2rem;
        align-items: center;
    }

    .nav-list {
        flex: 1;
        display: flex;
        justify-content: center;
    }

    .header-wrapper nav .nav-list ul {
        list-style: none;
        display: flex;
        gap: 1.7rem;
        align-items: center;
    }

    .header-wrapper nav .nav-list ul li a {
        font-size: 1.125rem;
        text-decoration: none;
        color: var(--spaceCadet-100);
        padding: 0.4rem 0.8rem;
        border-radius: 5rem;
        transition: background-color 300ms;
    }

    .header-wrapper nav .nav-list ul li a:hover {
        background-color: #bbbbbb88;
    }

    .header-wrapper nav .nav-buttons button {
        font-size: 1rem;
        font-family: 'Inter', sans-serif;
        margin: 0 0.5rem;
        padding: 0.7rem 1.2rem;
        border-radius: 2.25rem;
        border: none;
        cursor: pointer;
    }

    .header-wrapper nav .nav-buttons .nav-button-startfree {
        background-color: white;
        color: var(--spceCadet-600);
    }


    .mobile-nav-toggler {
        display: none;
    }

    .mobile-nav-toggler div {
        width: 1.75rem;
        height: 3px;
        background-color: hsl(0, 0%, 11%);
        margin: 5px;
        transition: transform 500ms, opacity 500ms;
    }

    /*----------------------------------------- Header End -----------------------------------------*/

    .first {
        background-image: url('../img/background.jpg');
        background-size: cover;
    }


    /* --------------------------------hero section start ---------------------------------------------*/
    .container {
        max-width: 1100px;
        margin-inline: auto;
        padding-inline: 2rem;
    }

    .hero {
        display: flex;
        flex-direction: column;
        gap: 12rem;
        padding: 2rem;
        padding-bottom: 3rem;
    }

    .hero1 {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .hero1 .title {
        font-size: 3rem;
        color: var(--spaceCadet-100);
        width: 60%;
    }

    .hero2 {
        display: flex;
        gap: 2rem;
        justify-content: space-between;
        align-items: center;
    }

    .hero2 .title {
        color: var(--spaceCadet-100);
        width: 30%;
        font-size: 1rem;
    }


    .hero2 .hero2-btn {
        font-size: 1rem;
        font-family: 'Inter', sans-serif;
        margin: 0 0.5rem;
        padding: 0.7rem 1.2rem;
        border: 1px solid var(--spaceCadet-100);
        border-radius: 3rem;
        cursor: pointer;
        background-color: transparent;
        color: var(--spaceCadet-100);
    }

    .hero2 .hero2-btn:hover {
        background-color: var(--spaceCadet-600);
    }

    /*--------------------------------- hero section end-------------------------------------------------*/

    /*--------------------------------- portfolio section start-------------------------------------------------*/
    .portfolio {
        background: white;
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    .text-muted {
        color: var(--spaceCadet-200);

    }

    .portfolio__title h3 {
        color: var(--spaceCadet-600);
        font-size: 2rem;
        width: 80%;
    }

    .portfolio__main {
        padding: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .dash-front {
        text-transform: uppercase;
        font-size: 0.75rem;
        color: var(--greenPigment-600);
        display: flex;
        align-items: center;
        margin-left: 5px;
        font-weight: 500;
        margin-top: 1rem;
    }

    .dash-front::before {
        display: inline-block;
        content: "";
        width: 16px;
        height: 1px;
        margin-right: 10px;
        background-color: var(--greenPigment-600);
    }

    .portfolio__desc p {
        font-weight: 400;
        color: var(--spaceCadet-800);
        width: 81%;
    }

    .portfolio__desc button {
        padding: 0.8rem 1.2rem;
        border: 1px solid var(--spaceCadet-600);
        border-radius: 3rem;
        margin-top: 0.65rem;
    }

    /*--------------------------------- portfolio section end-------------------------------------------------*/

    /*--------------------------------- services section start-------------------------------------------------*/
    .servicecs {
        padding: 6rem 0rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: var(--avocadoPeel-100);
    }

    .services__main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .services__main p {
        text-align: center;
        color: var(--greenPigment-600);
        font-weight: 500;
        font-size: 0.75rem;
        text-transform: uppercase;
    }

    .services__title {
        font-weight: 500;
        color: var(--spaceCadet-600);
        font-size: 2rem;
        margin-top: 0.75rem;
    }

    .services__cards {
        display: flex;
        flex: 1;
        gap: 2rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .services__cards .card {
        overflow: hidden;
        border-radius: 2rem;
        display: flex;
        align-items: flex-end;
        justify-content: stretch;
        position: relative;
        width: 320px;
        height: 350px;
        cursor: pointer;
        transition: transform 300ms;
    }

    .services__cards .card:hover {
        transform: translateY(-1rem);
    }


    .services__cards .card div {
        display: flex;
        align-items: center;
        padding: 1rem;
        width: 100%;
        justify-content: space-between;
    }

    .services__cards .card button {
        margin: 0;
        border: none;
        width: 1.5rem;
        padding: 0;
        aspect-ratio: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        border-radius: 50%;
        font-size: 0.8rem;
        font-weight: 600;
        color: var(--avocadoPeel-100);
        background-color: rgb(244, 244, 247, 0.25);
        transition: background-color 300ms, color 300ms;
    }


    .services__cards .card:hover button {
        background-color: var(--avocadoPeel-100);
        color: var(--spaceCadet-900);
    }

    .services__cards .card p {
        color: var(--spaceCadet-100);
        z-index: 1;
    }

    .services__cards .card-1 {
        background-image: url("../img/online-consultation.png");
    }

    .services__cards .card-2 {
        background-image: url("../img/call-support.png");
    }

    .services__cards .card-3 {
        background-image: url("../img/browsing-laptop.png");
    }

    .services__main button {
        padding: 0.8rem 1.2rem;
        border: 1px solid var(--spaceCadet-600);
        border-radius: 3rem;
        margin-top: 0.65rem;
    }

    /*--------------------------------- services section end-------------------------------------------*/
    /*------------------------------------ About section start------------------------------------- */
    .about {
        background-image: url("../img/strategic.png");
        min-height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
    }

    .about__main {
        width: 29rem;
        background: var(--spaceCadet-100);
        margin-left: 8rem;
        padding: 2rem 3rem;
        border-radius: 2rem;
    }

    .about__main span {
        font-weight: 500;
        color: var(--greenPigment-600);
    }

    .about__main div {
        margin-top: 0.25rem;
        font-size: 3rem;
        font-weight: 500;
        color: var(--spaceCadet-900);
    }

    .about__main p {
        font-weight: 400;
        color: var(--spaceCadet-500);
        padding: 0.25rem;
    }

    .about__main button {
        font-weight: 400;
        background-color: var(--spaceCadet-600);
        color: var(--spaceCadet-100);
        padding: 0.7rem 1.2rem;
        font-size: 1rem;
        border-radius: 2rem;
        border: none;
        transition: background-color 200ms;
        margin-top: 0.5rem;
    }

    .about__main button:hover {
        background-color: var(--spaceCadet-800);
    }

    /*------------------------------------- About section end-------------------------------------- */

    /*------------------------------------Testimonial start--------------------------------------*/
    .testimonial {
        padding: block 3rem;
        background: var(--spaceCadet-1000);
    }

    .testimonial .testimonial__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 3rem;
        padding-left: 5rem;
        padding-right: 5rem;
        padding-bottom: 1rem;
        font-size: 2rem;
    }

    .testimonial .testimonial__title h3 {
        font-weight: 500;
        color: var(--spaceCadet-100);
    }

    .testimonial__title .testinomial__buttons button {
        border: 0;
        background: var(--spaceCadet-600);
        border-radius: 50%;
        padding: 1rem 1rem;
        font-size: 0.8rem;
        color: var(--spaceCadet-100);
        transition: all 0.3s;
    }

    .testimonial__title .testinomial__buttons button:hover {
        background: var(--spaceCadet-800);
    }

    /*--------------------------------------Testimonial End------------------------------------------*/

    /*------------------------------------CaseStudies Start------------------------------------- */
    .case-studies {
        background: var(--avocadoPeel-100);
    }

    .case-studies .case-studies__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 3rem;
        padding-left: 5rem;
        padding-right: 5rem;
        padding-bottom: 1rem;
        font-size: 2rem;
    }

    .case-studies .case-studies__title h3 {
        font-weight: 500;
        color: var(--spaceCadet-600);
    }

    .case-studies__title .case-studies__buttons button {
        border: 0;
        background: var(--spaceCadet-600);
        border-radius: 50%;
        padding: 1rem 1rem;
        font-size: 0.8rem;
        color: var(--spaceCadet-100);
        transition: all 0.3s;
    }

    .case-studies__title .case-studies__buttons button:hover {
        background: var(--spaceCadet-800);
    }

    /*------------------------------------CaseStudies End------------------------------------- */

    /* --------------------------------------Valuable contents Start---------------------------------------- */
    .contents {
        background: var(--spaceCadet-100);
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        justify-content: center;
    }

    .contents__title {
        padding: 4rem 0 2rem 0;
        color: var(--spaceCadet-600);
        font-weight: 500;
        font-size: 3rem;
    }

    .contents__cards {
        display: flex;
        gap: 1rem;
    }

    .contents__card img {
        border-radius: 2rem;
        width: 100%;
        height: 55%;
        object-fit: cover;
    }

    .contents__card h3 {
        padding: 1rem 0.5rem 0 0.5rem;
        font-weight: 500;
        color: var(--spaceCadet-1000);
    }

    /* -----------------------Valuable contents End------------------- */

    /* Footer section */
    footer {
        width: 100%;
        padding: 20px;
        background-color: rgb(82, 81, 81);
        color: #fff;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .footer-left {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    .footer-left p {
        color: #ccc;
    }

    .footer-nav span {
        margin-right: 20px;
        color: #ccc;
        cursor: pointer;
    }